.hide {display: none !important;}
.popup {position:fixed; width:800px;padding:10px;margin:auto;margin-top:50px;
	border-radius:5px;min-height:200px;background:#fff;z-index:1100}
.width80p {width:80%}
.width25p {width:25%}
.width350 {width: 350px;}
.width20 {width:20px}
.common-text-input {font-size:12px;border:1px solid #dedede;border-radius:2px;padding:3px;}
.error-input {border-color: red;}

body {padding:0;margin:0;font-family: Arial, sans-serif;background:#dedede}
#main-container {width:1000px;margin:auto;background:#fff;border:1px solid #aaa;padding:10px;border-top:none}

#title-container {text-align:center;margin:10px;font-size:18px;font-weight:bold;}
#menu-container {padding:10px;}
	.menu-button {padding:5px; border-radius: 3px; font-weight:bold; background:#dedede; cursor:pointer; text-align:center; font-size:12px;display:inline-block;}

#popup-data-container {font-size:12px;}
#popup-data-title {font-weight: bold; text-align: center;margin-bottom:20px;}
#new-chart-popup {max-height:500px;overflow-y:auto; font-weight:bold; padding:10px 50px;}
#new-chart-data-poup-actions {margin-top:20px;text-align: center;}
	#ncd-close {background: rgba(255, 0, 0, 0.3);}
	#ncd-complete { background: rgba(0, 255, 0, 0.3)}
#popup-overlay {position:fixed;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#888;opacity:0.7}

.cc-pictogram-container {padding:10px;border-top:1px solid #dedede;margin-top:20px;}
.cc-pictogram-name {font-size:14px; font-weight:bold;}
.cc-pictogram-data-table {font-size:12px;border-collapse: collapse;border-color:#eee; margin:15px 0px}
.cc-pictogram-data-table td, .cc-key-container td {padding:5px;vertical-align: middle;}
.cc-data-icon {display:inline-block;margin:0px 10px;background:#555;width:20px;height:20px;border-radius:20px;}

.cc-key-container {display:inline-block;}
